.quarto/
_site/
.venv/
venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.env
.DS_Store
.idea/
*.swp
*.swo
*~
.vscode/settings.json
docs/
/_build/
/docs/
*.html
/.quarto/
**/*.quarto_ipynb
